Web/App_WebReferences/BehindUp/BehindService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BehindUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="status" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="price" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BehindUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BehindUpdateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BehindUpJs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ordercode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="status" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BehindUpJsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BehindUpJsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="BehindUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:BehindUpdate" />
  </wsdl:message>
  <wsdl:message name="BehindUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:BehindUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="BehindUpJsSoapIn">
    <wsdl:part name="parameters" element="tns:BehindUpJs" />
  </wsdl:message>
  <wsdl:message name="BehindUpJsSoapOut">
    <wsdl:part name="parameters" element="tns:BehindUpJsResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="BehindUpdateHttpGetIn">
    <wsdl:part name="guid" type="s:string" />
    <wsdl:part name="status" type="s:string" />
    <wsdl:part name="price" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BehindUpdateHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="BehindUpJsHttpGetIn">
    <wsdl:part name="ordercode" type="s:string" />
    <wsdl:part name="status" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BehindUpJsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="BehindUpdateHttpPostIn">
    <wsdl:part name="guid" type="s:string" />
    <wsdl:part name="status" type="s:string" />
    <wsdl:part name="price" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BehindUpdateHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="BehindUpJsHttpPostIn">
    <wsdl:part name="ordercode" type="s:string" />
    <wsdl:part name="status" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BehindUpJsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="BehindServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BehindUpdate">
      <wsdl:input message="tns:BehindUpdateSoapIn" />
      <wsdl:output message="tns:BehindUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BehindUpJs">
      <wsdl:input message="tns:BehindUpJsSoapIn" />
      <wsdl:output message="tns:BehindUpJsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BehindServiceHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="BehindUpdate">
      <wsdl:input message="tns:BehindUpdateHttpGetIn" />
      <wsdl:output message="tns:BehindUpdateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="BehindUpJs">
      <wsdl:input message="tns:BehindUpJsHttpGetIn" />
      <wsdl:output message="tns:BehindUpJsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BehindServiceHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="BehindUpdate">
      <wsdl:input message="tns:BehindUpdateHttpPostIn" />
      <wsdl:output message="tns:BehindUpdateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="BehindUpJs">
      <wsdl:input message="tns:BehindUpJsHttpPostIn" />
      <wsdl:output message="tns:BehindUpJsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BehindServiceSoap" type="tns:BehindServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BehindUpdate">
      <soap:operation soapAction="http://tempuri.org/BehindUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BehindUpJs">
      <soap:operation soapAction="http://tempuri.org/BehindUpJs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BehindServiceSoap12" type="tns:BehindServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BehindUpdate">
      <soap12:operation soapAction="http://tempuri.org/BehindUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BehindUpJs">
      <soap12:operation soapAction="http://tempuri.org/BehindUpJs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BehindServiceHttpGet" type="tns:BehindServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BehindUpdate">
      <http:operation location="/BehindUpdate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BehindUpJs">
      <http:operation location="/BehindUpJs" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BehindServiceHttpPost" type="tns:BehindServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BehindUpdate">
      <http:operation location="/BehindUpdate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BehindUpJs">
      <http:operation location="/BehindUpJs" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BehindService">
    <wsdl:port name="BehindServiceSoap" binding="tns:BehindServiceSoap">
      <soap:address location="http://121.41.7.105:801/MoveService/BehindService.asmx" />
    </wsdl:port>
    <wsdl:port name="BehindServiceSoap12" binding="tns:BehindServiceSoap12">
      <soap12:address location="http://121.41.7.105:801/MoveService/BehindService.asmx" />
    </wsdl:port>
    <wsdl:port name="BehindServiceHttpGet" binding="tns:BehindServiceHttpGet">
      <http:address location="http://121.41.7.105:801/MoveService/BehindService.asmx" />
    </wsdl:port>
    <wsdl:port name="BehindServiceHttpPost" binding="tns:BehindServiceHttpPost">
      <http:address location="http://121.41.7.105:801/MoveService/BehindService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>