Web/App_WebReferences/DataExtraction/ERPService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ERPCommInter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ERPCommInterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ERPCommInterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ERPCommInterSoapIn">
    <wsdl:part name="parameters" element="tns:ERPCommInter" />
  </wsdl:message>
  <wsdl:message name="ERPCommInterSoapOut">
    <wsdl:part name="parameters" element="tns:ERPCommInterResponse" />
  </wsdl:message>
  <wsdl:message name="ERPCommInterHttpGetIn">
    <wsdl:part name="xml" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ERPCommInterHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ERPCommInterHttpPostIn">
    <wsdl:part name="xml" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ERPCommInterHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ERPServiceSoap">
    <wsdl:operation name="ERPCommInter">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ERP公共接口，暂只支持U8、U9</wsdl:documentation>
      <wsdl:input message="tns:ERPCommInterSoapIn" />
      <wsdl:output message="tns:ERPCommInterSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ERPServiceHttpGet">
    <wsdl:operation name="ERPCommInter">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ERP公共接口，暂只支持U8、U9</wsdl:documentation>
      <wsdl:input message="tns:ERPCommInterHttpGetIn" />
      <wsdl:output message="tns:ERPCommInterHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ERPServiceHttpPost">
    <wsdl:operation name="ERPCommInter">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ERP公共接口，暂只支持U8、U9</wsdl:documentation>
      <wsdl:input message="tns:ERPCommInterHttpPostIn" />
      <wsdl:output message="tns:ERPCommInterHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ERPServiceSoap" type="tns:ERPServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ERPCommInter">
      <soap:operation soapAction="http://tempuri.org/ERPCommInter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ERPServiceSoap12" type="tns:ERPServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ERPCommInter">
      <soap12:operation soapAction="http://tempuri.org/ERPCommInter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ERPServiceHttpGet" type="tns:ERPServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ERPCommInter">
      <http:operation location="/ERPCommInter" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ERPServiceHttpPost" type="tns:ERPServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ERPCommInter">
      <http:operation location="/ERPCommInter" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ERPService">
    <wsdl:port name="ERPServiceSoap" binding="tns:ERPServiceSoap">
      <soap:address location="http://118.178.88.33/ERPWebService/ERPService.asmx" />
    </wsdl:port>
    <wsdl:port name="ERPServiceSoap12" binding="tns:ERPServiceSoap12">
      <soap12:address location="http://118.178.88.33/ERPWebService/ERPService.asmx" />
    </wsdl:port>
    <wsdl:port name="ERPServiceHttpGet" binding="tns:ERPServiceHttpGet">
      <http:address location="http://118.178.88.33/ERPWebService/ERPService.asmx" />
    </wsdl:port>
    <wsdl:port name="ERPServiceHttpPost" binding="tns:ERPServiceHttpPost">
      <http:address location="http://118.178.88.33/ERPWebService/ERPService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>